@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    place-items: center;
    background-color: #000000;
}

.main
{
    margin-top: 20%;
    border: 2px solid #FCA311;
    border-radius: 15px;
}

.calculator
{
    display: grid;
    place-items: center;
    padding: 20px 10px 10px 10px;
}

input
{
    width: 95%;
    height: 30px;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: white;
}

button {
    width: 50px;
    height: 30px;
    background: transparent;
    color: white;
    margin: 10px 5px;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
    border: 2px solid #e8e8e8;
    transition: all 0.01s;
    box-shadow: 0px 6px 5px #000000;
}
  
button:active {
    background-color: #FCA311;
    color: #14213D;
    border: 1px solid #14213D;
    transform: translateY(2px);
}

.equal
{
    width: 115px;
    background-color: #FCA311;
    color: #ffffff;
    border: 2px solid #ffffff;
}

svg
{
    width: auto;
    height: 25px;
}

.head
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.head button
{
    /* right: 0; */
    margin-left: 210px;
    position: absolute;
    border: none;
    box-shadow: none;
}

.head button:active
{
    background-color: transparent;
    box-shadow: none;
}